@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("../images/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
#nav-bar {
    width: 100%;
    display: flex;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}
.menu{
    display: flex;
}
.menu li {
    padding-left: 30px;
}
.menu li a {
    text-decoration: none;
    color: white;
    position: relative;
    text-transform: uppercase;
}
.menu li a:hover{
    font-size: large;
    text-shadow: 0 0 35px #fff;;
}
.info{
    padding-bottom: 130px;
    text-align: center;
}
.info h1{
    font-size: 55px;
    letter-spacing: 5px;
}
/*ABOUT ME*/
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-izquierda{
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.caja{
    position: absolute;
    right: -50px;
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);   
}
.caja > div{
    background: #8655AE;
    padding: 60px;
    text-align: center;
}
.caja h2{
    font-size: 32px;
    margin: 35px 0 9px 0;
    line-height: 1.2;
    padding-bottom: 11px;
    border-bottom: 2px solid #edffec;
}
.caja h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 15px;
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.about-derecha{
    background: #e6e6e6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 160px;
    text-align: center;
}
.about-derecha h1{
    font-size: 30px;
    text-transform: uppercase;
}
.sobre-mi p{
    font-weight: 300;
    padding: 8px;
}
.sobre-mi i{
    color: #8655AE;
    width: 30px;
    height: 30px;
    line-height: 40px;
}
.sobre-mi span{
    font-weight: bold;
    margin: 8px 0;
    font-size: 22px;
}
/* SECCION HABILIDADES */
.habilidades{
    padding: 110px 0 80px 0;
    text-align: center;
    background-color: #202020;
    color: #fff;
}
.habilidades h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 10px;
}
.skills-area{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}
.skill{
    position: relative;
    margin-bottom: 40px;
}
.skill-title{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Yellowtail', sans-serif;
}
.skill-fill{
    background: #8655AE;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding-right: 30px;
    overflow: hidden;
}
.html {
    animation: html 1s;
    width: 90%;
}
.css {
    animation: css 1s;
    width: 70%;
}
.js {
    animation: js 1s;
    width: 50%;
}
@keyframes html {
    from {
    width: 0;
    }
    to {
    width: 90%;
    }
}
@keyframes css {
    from {
    width: 0;
    }
    to {
    width: 70%;
    }
}
@keyframes js {
    from {
    width: 0;
    }
    to {
    width: 50%;
    }
}
/* SECCION RESUMEN */
.resumen{
    background-color: #202020;
    padding: 50px;
    text-align: center;
    color: white;
}
.contenido-resumen{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contenido-resumen h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contenido-resumen .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.contenido-resumen .info .col .titulo{
    color: #823597;
    font-weight: bold;
    border: 2px solid #823597;
    padding: 10px;
}
.contenido-resumen .info .col table{
    margin-top: 30px;
}
.contenido-resumen .info .col table .datos{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}
.contenido-resumen .info .col table h4{
    margin-top: 10px;
}
.contenido-resumen .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}
.contenido-resumen .info .col table p{
    font-size: 14px;
}
.contenido-resumen .info .col table .descripcion{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #202020;
    padding: 140px 0 100px 0;
    color: #e6e6e6;
    text-align: center;
}
.contenido-contacto{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}
.contenido-contacto h3{
    text-transform: uppercase;
    font-size: 30px;
}
.contenido-contacto .fila{
    display: flex;
    justify-content: space-around;
}
.contenido-contacto .fila .col{
    margin-top: 50px;
}
.contenido-contacto .fila .col h2{
    color: #823597;
}
#contacto{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
#contacto form {
    display: flex;
    flex-direction: column;
    width: 650px;
}
form input, textarea {
    padding: 15px;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #4b2e65;
    margin-bottom: 15px;
}
.email, .nombre{
    color:#fff;
}
.mensaje{
    resize: none;
    height: 200px;
    color: #fff;
}
.boton {
    width: 160px;
    cursor: pointer;
    background: #945DC4;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.boton:hover {
    font-size: 20px;
    color: #fff;
    background-color: #823597;
    box-shadow: 0 0 20px #fff;
}
#contacto h3{
    margin: 30px;
}
/*FOOTER*/
.footer-black{
    background-color: #202020;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.redes{
    margin: 20px 0;
}
.redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #CF50F2;
    border: 1px solid #CF50F2;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 5px;
    transition: .3s;
}
.redes a:hover{
    color: #fff;
    background-color: #823597;
    box-shadow: 0 0 20px #fff;
}
