@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("../images/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}
#nav-bar {
    width: 100%;
    display: flex;
    list-style: none;
    position: relative;
    padding: 0.75rem 1.25rem;
}
.menu{
    display: flex;
}
.menu li {
    padding-left: 1.87rem;
}
.menu li a {
    text-decoration: none;
    color: white;
    position: relative;
    text-transform: uppercase;
}
.menu li a:hover{
    font-size: large;
    text-shadow: 0 0 2.18rem #fff;;
}
.info{
    padding-bottom: 8.1rem;
    text-align: center;
}
.info h1{
    font-size: 55px;
    letter-spacing: 5px;
}
/*ABOUT ME*/
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.about-izquierda{
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.caja{
    position: absolute;
    right: -50px;
    box-shadow: 0rem 0rem 1.12rem -0.063rem rgba(0, 0, 0, 0.39);   
}
.caja > div{
    background: #8655AE;
    padding: 3.75rem;
    text-align: center;
}
.caja h2{
    font-size: 2rem;
    margin: 2.18rem 0 0.56rem 0;
    line-height: 1.2em;
    padding-bottom: 0.68rem;
    border-bottom: 0.125rem solid #edffec;
}
.caja h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.31rem;
    margin-top: 1rem;
}
.about-img img{
    display: block;
    width: 12.5rem;
}
.about-img{
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    border-radius: 50%;
}
.about-derecha{
    background: #e6e6e6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
    text-align: center;
}
.about-derecha h1{
    font-size: 1.87rem;
    text-transform: uppercase;
}
.sobre-mi p{
    font-weight: 300;
    padding: 0.5rem;
}
.sobre-mi i{
    color: #8655AE;
    width: 1.87rem;
    height: 1.87rem;
    line-height: 2.5rem;
}
.sobre-mi span{
    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.37rem;
}
/* SECCION HABILIDADES */
.habilidades{
    padding: 6.87rem 0 5rem 0;
    text-align: center;
    background-color: #202020;
    color: #fff;
}
.habilidades h3{
    text-transform: uppercase;
    font-size: 1.87rem;
    margin-bottom: 0.62rem;
}
.skills-area{
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}
.skill{
    position: relative;
    margin-bottom: 2.5rem;
}
.skill-title{
    font-size: 1.56rem;
    margin-bottom: 0.62rem;
    font-family: 'Yellowtail', sans-serif;
}
.skill-fill{
    background: #8655AE;
    height: 1.87rem;
    border-radius: 6.25rem;
    display: flex;
    align-items: center;
    padding-right: 1.87rem;
    overflow: hidden;
}
.html {
    animation: html 1s;
    width: 90%;
}
.css {
    animation: css 1s;
    width: 70%;
}
.js {
    animation: js 1s;
    width: 50%;
}
@keyframes html {
    from {
    width: 0;
    }
    to {
    width: 90%;
    }
}
@keyframes css {
    from {
    width: 0;
    }
    to {
    width: 70%;
    }
}
@keyframes js {
    from {
    width: 0;
    }
    to {
    width: 50%;
    }
}
/* SECCION RESUMEN */
.resumen{
    background-color: #202020;
    padding: 3.125rem;
    text-align: center;
    color: white;
}
.contenido-resumen{
    max-width: 62.5rem;
    margin: auto;
    padding: 0 0.625rem;
}
.contenido-resumen h3{
    text-transform: uppercase;
    font-size: 1.87rem;
}
.contenido-resumen .info{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 1.87rem;
}
.contenido-resumen .info .col .titulo{
    color: #823597;
    font-weight: bold;
    border: 2px solid #823597;
    padding: 0.62rem;
}
.contenido-resumen .info .col table{
    margin-top: 1.87rem;
}
.contenido-resumen .info .col table .datos{
    width: 40%;
    border-bottom: 0.063rem solid #bab9b9;
}
.contenido-resumen .info .col table h4{
    margin-top: 0.62rem;
}
.contenido-resumen .info .col table h3{
    font-size: 1.25rem;
    margin-bottom: 0.31rem;
}
.contenido-resumen .info .col table p{
    font-size: 0.87rem;
}
.contenido-resumen .info .col table .descripcion{
    border-left: 0.063rem solid #bab9b9;
    padding-left: 1.25rem;
}
/* SECCION CONTACTO */
.contacto{
    background-color: #202020;
    padding: 8.75rem 0 6.25rem 0;
    color: #e6e6e6;
    text-align: center;
}
.contenido-contacto{
    max-width: 62.5rem;
    margin: auto;
    padding: 0 0.65rem;
}
.contenido-contacto h3{
    text-transform: uppercase;
    font-size: 1.87rem;
}
.contenido-contacto .fila{
    display: flex;
    justify-content: space-around;
}
.contenido-contacto .fila .col{
    margin-top: 3.12rem;
}
.contenido-contacto .fila .col h2{
    color: #823597;
}
#contacto{
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
#contacto form {
    display: flex;
    flex-direction: column;
    width: 40rem;
}
form input, textarea {
    padding: 0.93rem;
    border-radius: 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    background: #4b2e65;
    margin-bottom: 0.93rem;
}
.email, .nombre{
    color:#fff;
}
.mensaje{
    resize: none;
    height: 12.5rem;
    color: #fff;
}
.boton {
    width: 10rem;
    cursor: pointer;
    background: #945DC4;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.063rem;

}
.boton:hover {
    font-size: 1.25rem;
    color: #fff;
    background-color: #823597;
    box-shadow: 0 0 1.25rem #fff;
}
#contacto h3{
    margin: 1.87rem;
}
/*FOOTER*/
.footer-black{
    background-color: #202020;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}
.redes{
    margin: 1.25rem 0;
}
.redes a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #CF50F2;
    border: 0.063rem solid #CF50F2;
    border-radius: 50%;
    width: 2.81rem;
    height: 2.81rem;
    line-height: 2.81rem;
    margin: 0 0.31rem;
    transition: .3s;
}
.redes a:hover{
    color: #fff;
    background-color: #823597;
    box-shadow: 0 0 1.25rem #fff;
}
/* SECCION RESPONSIVE */
@media screen and (max-width:844px){
    /*HABILIDADES*/
    .habilidades .contenido-seccion .fila{
        display: block;
    }
    .habilidades .contenido-seccion .fila .col{
        width: 100%;
        text-align: center;
    }
    .habilidades .contenido-seccion .fila .col .cont-barra{
        justify-content: center;
    }
    /*SOBRE MI*/
    .container {
        flex-direction: column;
    }
    .about-izquierda, .about-derecha {
        width: 100%;
        padding: 1.25rem;
    }
    .about-derecha p{
        font-size: 0.81rem;
        padding: 1.4rem
    }
    .sobre-mi {
        text-align: center;
    }
    /*ESTUDIOS*/
    .info {
        display: flex;
        flex-direction: column;
    }
    .col {
        margin-bottom: 1.25rem;
    }
    .fila {
            flex-direction: column;
    }
    
    .col {
            margin-bottom: 1.25rem;
    }
    #contacto{
        overflow: hidden;
    }
    #contacto h3{
        position: relative;
        right: 2.5rem;
    }
}
 
